.card
{
    background-color: #806262;
    margin:1vmin;
    max-height: 50vh;
    padding: 15%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1%;
}
img{
    height: 100%;
    width: 100%;
}